@page "/"


<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@foreach (var pizza in State.Menu.Pizzas)
{
    <div class="row">
        <div class="col">@pizza.Name</div>
        <div class="col">@pizza.Price</div>
        <div class="col">@pizza.Spiciness</div>
        <div class="col"><button class="btn btn-success pl-4 pr-4" @onclick="@(() => AddToBasket(pizza))">Add</button></div>
    </div>
}

@code{
    private State State{get;}= new State();
    protected override void OnInitialized()
    {
     State.Menu.Add(new Pizza(1,"Pepperoni",123m, Spiciness.Spicy));
     State.Menu.Add(new Pizza(2,"Salami",123m, Spiciness.Spicy));
     State.Menu.Add(new Pizza(3,"Diabolo",123m, Spiciness.Hot));
    }

    private void AddToBasket(Pizza pizza)
    {
        State.ShoppingBasket.Add(pizza.Id);
    }
}
